services:
  - type: web
    name: iidm-whatsapp
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn bulk_whatsapp.wsgi:application --preload"
    autoDeploy: true

    envVars:
      - key: SECRET_KEY
        sync: false

      - key: DEBUG
        value: True

      - key: ALLOWED_HOSTS
        value: iidm-whatsapp.onrender.com,localhost

      # Hostinger DB Values
      - key: DB_NAME
        value: u844009458_whatsapp_data
      - key: DB_USER
        value: u844009458_eshwarvadde8
      - key: DB_PASSWORD
        value: eshwar9642
      - key: DB_HOST
        value: auth-db1235.hstgr.io
      - key: DB_PORT
        value: 3306

      # Optional
      - key: NGROK_URL
        value: https://abc123.ngrok.io
      - key: SMS_API_KEYS
        value: 64f9c578744246a0b2d0af43ccd09d34
