name: Django CI (Hostinger DB)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y default-libmysqlclient-dev build-essential mysql-client

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create .env file for Hostinger DB
      run: |
        echo "DEBUG=False" >> .env
        echo "SECRET_KEY=test-key" >> .env
        echo "DB_NAME=u844009458_whatsapp_data" >> .env
        echo "DB_USER=u844009458_eshwarvadde8" >> .env
        echo "DB_PASSWORD=eshwar9642" >> .env
        echo "DB_HOST=auth-db1235.hstgr.io" >> .env
        echo "DB_PORT=3306" >> .env

    - name: Test MySQL Connection
      run: |
          mysql -h auth-db1235.hstgr.io -P 3306 -u u844009458_eshwarvadde8 -peshwar9642 -e "SHOW DATABASES;"

    - name: Run Migrations
      run: python manage.py migrate

    - name: Run Tests
      run: python manage.py test
